.pieChart {
  max-width: 100%;
  font-size: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.titlePie {
  font-size: 1.3em;
  color: #8f9094;
  text-transform: uppercase;
  display: block;
  flex: 1;
  text-align: center;
}