.lineEven {
  background-color: #AFB7C7;
  width: 100%;
}

.lineOdd {
  background-color: #8d9ab4;
  width: 100%;
}

.titleTable {
  text-transform: uppercase;
  font-size: 1em;
  color: #ec8d20;
}

.table {
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  font-size: 15px;
  color: #353941;
  justify-content: space-around;
}

.containerTable {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.description {
  width: 80px;
  text-align: center;
}

.date {
  width: 130px;
  text-align: center;
}

.amount {
  width: 130px;
  text-align: center;
}