.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #FFB258;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0px 10px 0px;
  margin-top: 15px;
}

.footer-info a {
  color: whitesmoke;
}