.footerInfo {
    display: flex;
    justify-content: space-around;
    background-color: #FFB258;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
}


@media (max-width: 800px) {
  .footerInfo {
    display: flex;
    justify-content: space-around;
    background-color: #FFB258;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    flex-wrap: wrap;
  }

  .footerItem{
    flex: 1 1;
    padding: 10px;
    text-align: center;
    font-size: 10px;
  }
}

@media (max-width: 450px) {
  .footerInfo {
  justify-content: space-between;
  font-size: 10px;
  font-weight: 100;
  }
}