.headerWrapper {
  display: flex;
  flex-direction: row;
  background-color: #EEF0F4;
  padding: 10px 0px 10px 0px;
  align-items: center;
  justify-content: flex-start;
}

.headerWrapper img {
  width: 50%;
  align-self: flex-start;
  justify-content: center;
}

@media (max-width: 800px) {
  .headerWrapper {
    padding: 5px 0px 5px 0px;
    align-items: center;
    justify-content: flex-start;
    height: 45px;
  }
}

@media (max-width: 450px) {
  .headerWrapper {
    display: flex;
    flex-direction: row;
  }
}